

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
body{
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
}
  
a{
    color: white;
    text-decoration: none;
}

ul{
    list-style: none;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: sticky;
    z-index: 100;
    top: 0;
  
    background-color: black;
    border-bottom: 1px solid white;
    padding: 1rem;
    font-size: 1rem;
}
  
nav .brand{
    font-size: 1.5rem;
    font-weight: bold;
}
  
nav .nav-items a{
    margin: 0 1rem;
}